body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: bold;
}
table td.alignRight{
  text-align: right;
}
.columns:not(.noPad){
  padding: 2rem;
}
.centerText{
  text-align: center;
}
textarea {
  max-width: 95%;
}

.reviewContent {
  white-space: pre-wrap;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity .2s linear, visibility .1s linear;
}
.collapsed {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .11s linear, visibility 1s linear;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  /*background: #0069ed;*/
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  /*background: #0053ba;*/
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
